@page
@model IndexModel
@{
    ViewData["Title"] = "Your Random Fortune";
}

<div class="d-flex flex-column align-items-center mt-5">
    <div class="card" style="width: 30rem;">
        <div class="card-body text-center">
            @Model.Fortune
        </div>
    </div>
    <a href="/" class="btn btn-primary mt-3">Moar Fortune</a>
</div>